<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo APP with Vue Js</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic"><span class="pln">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css"><span class="pln">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css"><span class="pln">
</head>
<body>
    <div class="container" id="app">
        <h1>Todo App</h1>
        <input typpe = "text"placeholder ="Todo kamu..." v-model="todo">

        <button @click="addTodo">Tambah todo</button>
        
        <table>
            <thead>
                <tr>
                    <th>Todo</th>
                    <th>Aksi</th>
                </tr>
            </thead>

            <tbody>
                <tr v-for="(todo, index ) in listTodo" v-bind:key="index">
                    <td v-bind:style="{'text-decoration': todo.isDone ? 'line-through' : null }">{{todo.name}}</td>
                    <td>
                    <button @click="markTodo(index)">{{todo.isDone ? 'unDone' : 'Done'}}</button>
                    <button style="margin-left: 20px;" @click="deleteTodo(index)">Hapus</button>
                </td>
                </tr>
            </tbody>
        </table>
    </div>


    <script src="https://unpkg.com/vue@3"></script>
    <script src="app.js"></script>

</body>
</html>